# Integrating Data Analysis Tools
pandas
numpy

# Integrating Data Visualization Tools
# seaborn
# matplotlib

# Integrating Jupyter Notebooks
ipytest     # Pytest in Jupyter notebooks
ipykernel
jupyter